section{
    height: 400px;
    width: 250px;
}

#yellow{
    background-color: var(--bs-yellow);
}

#pink{
    background-color: var(--bs-pink);
}

#green{
    background-color: var(--bs-green);
}

#purple{
    background-color: var(--bs-purple);
}

#blue{
    background-color: var(--bs-blue);
}

#red{
    background-color: var(--bs-red);
}